//color
$color-primary: #55c57a;
$color-secondary-light: #ffb900;

$color-navbar: #f0f4f8;

//teams
$team-bg-color: #0b0d47;

//footer
$footer-bg-color: #f2f2f2;
$footer-font-color: rgba(16, 42, 67, 1);

//contact form
$contact-bg-color: #1f2933;
$contact-team-head: rgba(249, 166, 2, 1);
$contact-font-color: #f5f7fa;

$contact-form-bg-color: #3e4659;
$contact-btn-color: rgba(249, 166, 2, 1);

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
